# Ignore Composer packages
/vendor/

# Ignore the .env file
/.env

# Ignore the .env.local file
/.env.local

# Ignore .env files for development
/.env.*.local

# Ignore cache and logs
/var/cache/
/var/log/

# Ignore .idea folder for PhpStorm
/.idea/

# Ignore .vscode folder for Visual Studio Code
/.vscode/

# Ignore Symfony's var folder
/var/