# Ignore Composer packages
/vendor/

# Ignore the .env file
/.env

# Ignore the .env.local file
/.env.local

# Ignore .env files for development
/.env.*.local

# Ignore cache and logs
/var/cache/
/var/log/

# Ignore .idea folder for PhpStorm
/.idea/

# Ignore .vscode folder for Visual Studio Code
/.vscode/

# Ignore Symfony's var folder
/var/
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
